.landingPage {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
        "left right";
    ;
    box-sizing: border-box;
    height: 100vh;
}

.leftLanding {
    grid-area: left;
    background-color: #0E2439;
    text-align: center;
    color: white;
    padding-top: 50%;
}

.serviceName {
    color: red;
}

.rightLanding {
    grid-area: right;
    background-color: aqua;
}

.character-images {
    height: 150px;
    width: auto;
}

.characters-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}